__pycache__
*.pyc
*.pyo
*.pyd
.Python
.git
.gitignore
.dockerignore
.env
.venv
env/
venv/
*.log
*.pot
*.mo
.DS_Store
.pytest_cache
.coverage
htmlcov/
dist/
build/
*.egg-info/
.idea/
.vscode/
temp_storage/*
data/*
maps/*
uploads/*
*.pdf
.ipynb_checkpoints
